@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "RobotoReg";
  src: url(./asset/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoBold";
  src: url(./asset/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --foreground-rgb: hsl(234, 29%, 20%);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ff-main: "RobotoReg", sans-serif;
  --ff-bold: "RobotoBold", sans-serif;
}

body {
  color: hsl(234, 29%, 20%);
  font-family: var(--ff-main);
  background: #36384d;
}

.textContainer h1 {
  font-family: var(--ff-bold);
}

.input {
  border: 1px solid hsl(231, 7%, 60%);
}

.input:focus-visible {
  border: 1px solid #000;
  outline: unset;
}

.input:invalid {
  color: #ff6257;
}

.buttonSubmit {
  background-color: hsl(234, 29%, 20%);
}

.buttonSubmit:hover {
  background: rgb(255, 83, 121);
  background: linear-gradient(
    90deg,
    rgba(255, 83, 121, 1) 0%,
    rgba(255, 103, 62, 1) 100%
  );
}

.label {
  font-family: var(--ff-bold);
}
h1 {
  font-family: "RobotoBold";
}
.heroTitle {
  color: hsl(234, 29%, 20%);
}

@media only screen and (min-width: 684px) {
  .desktop-image {
    display: block;
  }
  .mobile-image {
    display: none;
  }
  .newsletter {
    border-radius: 35px;
  }
  .thanks {
    border-radius: 35px;
  }
}
@media only screen and (max-width: 683px) {
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
  }
  .newsletter {
    flex-direction: column-reverse;
    border-radius: none;
    padding: 0;
  }
  .textContainer {
    padding: 0;
  }
  .heroTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .thanks {
    height: 100vh;
    border-radius: none;
  }
}
